@page
@model Recept.Pages.Delete.DeleteKategoriaModel
@{
    ViewData["Title"] = "Kategória törlése";
}

<h1>@ViewData["Title"]</h1>

<h3>Biztosan törli a kategóriát: @Model.Kategoria.Nev?</h3>

<form method="post">
    <input type="hidden" asp-for="Kategoria.Id" />
    <button type="submit" class="btn btn-danger">Törlés</button>
    <a asp-page="/Read/Kategoriak" class="btn btn-secondary">Mégse</a>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}