@page
@model Recept.Pages.HomePageModel
@{
}


<ul>
    <li><a asp-page="/Read/Alapanyagok">Alapanyagok</a></li>
    <li><a asp-page="/Read/Allergenek">Allergenek</a></li>
    <li><a asp-page="/Read/Csoportok">Csoportok</a></li>
    <li><a asp-page="/Read/Hozzavalok">Hozzávalók</a></li>
    <li><a asp-page="/Read/Kategoriak">Kategóriák</a></li>
    <li><a asp-page="/Read/Receptek">Receptek</a></li>
</ul>
