@page
@model IndexModel
@{
}


<a asp-page="/Read/Receptek">Receptek</a>

<a asp-page="/Read/Allergenek">Allergének</a>

<a asp-page="/Read/Alapanyagok">Alapanyagok</a>

<a asp-page="/Read/Kategoriak">Kategoriak</a>

<a asp-page="/Read/Hozzavalok">Hozzavalok</a>

<a asp-page="/Read/Csoportok">Csoportok</a>