@page
@model Recept.Pages.LogoutModel

<div class="container">
    <h1>Biztos kijelentkezel?</h1>
    <form method="post">
        <button type="submit" class="btn btn-primary">Kijelentkezés</button>
        <button type="button" class="btn btn-primary" onclick="history.back();">Mégsem</button>
    </form>
</div>
