@page
@model Recept.Pages.RegisterModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = null;
}

<h1>Regisztráció</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Nev"></label>
        <input asp-for="Input.Nev" class="form-control" />
        <span asp-validation-for="Input.Nev" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Varos"></label>
        <input asp-for="Input.Varos" class="form-control" />
        <span asp-validation-for="Input.Varos" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Orszag"></label>
        <input asp-for="Input.Orszag" class="form-control" />
        <span asp-validation-for="Input.Orszag" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ProfilePictureUrl"></label>
        <input asp-for="Input.ProfilePictureUrl" class="form-control" />
        <span asp-validation-for="Input.ProfilePictureUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
