@page
@model Recept.Pages.Create.CreateKategoriaModel
@{
    ViewData["Title"] = "Kategória létrehozása";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Kategoria.Nev"></label>
        <input asp-for="Kategoria.Nev" class="form-control" />
        <span asp-validation-for="Kategoria.Nev" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Létrehozás</button>
</form>
